@{
    ViewBag.Title = "Index";
}

@Html.Partial("_Busca")

<div class="row expanded busca">
    <div class="large-10 medium-12 columns">
        <h3>Lorem ipsum dolor sit amet</h3>
        <img  src="~/Content/foundation/img/comida-banner.jpg" width="300px" style="float: left; margin-right: 5px;" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus placerat quam nec pretium. Proin posuere porta enim, ac feugiat nunc lobortis eu. Pellentesque semper faucibus mi ut placerat. In faucibus, libero a rutrum volutpat, sapien nulla scelerisque felis, vitae tristique felis arcu quis libero. Nullam quis neque metus. Maecenas sodales elit a sapien mattis elementum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
        <p>
            Vestibulum volutpat dolor justo, quis mattis elit gravida vel. Curabitur eu ante nec diam hendrerit tristique eget sed sapien. Donec feugiat felis consectetur sem faucibus blandit. Duis nulla diam, tincidunt ac est sed, interdum pharetra nibh. Aenean convallis commodo turpis. Donec ipsum risus, sodales a tortor in, porta rhoncus ex. Quisque in malesuada ligula, eu tempor arcu. Nulla sit amet mauris purus.
        </p>
        <p>
            Aliquam gravida, arcu nec ultricies luctus, ante ligula euismod justo, non laoreet nulla magna sit amet nunc. Phasellus sed metus vitae orci aliquam varius. Sed vestibulum tellus nibh, in euismod elit consequat id. Proin luctus posuere risus, at semper nunc venenatis nec. Nulla vel iaculis augue, ac aliquet quam. Nunc pretium bibendum nisi at porta. Vivamus a risus nec nisl scelerisque lacinia. Sed faucibus, mi ac bibendum consequat, nibh ex maximus elit, vitae porta tortor ipsum quis lorem. Nulla gravida quis nunc et bibendum. Aenean urna dolor, lacinia at sollicitudin interdum, egestas quis purus.
        </p>
    </div>
    <div class="large-2 medium-12 columns">
        <h3>Categorias</h3>
        <div>
            <a href="#" class="badge">Frango</a>
            <a class="badge">Picanha</a>
            <a class="badge">Assado</a>
            <a class="badge">Cozido</a>
            <a class="badge">Cordeiro</a>
            <a class="badge">Salada</a>
        </div>
    </div>
</div>
