@{
    ViewBag.Title = "Index";
}

<div class="row expanded about">
    <div class="large-10 medium-12 columns">
        <h3>Quem Somos</h3>
        <p>
            O site Receitas Cozinha LIVRE, trás para os apreciadores de uma boa culinária, o que há de
            melhor da comida típica brasileira , americana , italiana , alemã entre tantas outras. As mais
            variadas receitas para deixar ainda mais delicioso um almoço ou jantar especial. Também
            pensamos em momentos comemorativos, onde preparamos categorias para você aprender
            algumas dicas especiais de como fazer a Ceia de Natal e Ano Novo para deixar ainda melhor
            suas festas de final de ano, diversas receitas para a páscoa e também para seu Almoço de
            domingo em família, além de tudo contamos com diversas Receitas Dietas/light, fique a
            vontade e desfrute de Receitas Fáceis, rápidas e deliciosas. Foco é trazer para você receitas de
            pessoas comuns com dom da arte culinária expor suas melhores receitas com as melhores
            marcas do mercado nacional e internacionaal. O site é atualizado com as dicas de outros
            usuários para você não cair na rotina e surpreender seus amigos e familiares, com uma porção
            especial de muito amor e carinho preparado por nós, queremos também que nos ajude a
            melhorar, dando dicas ou enviado sua receita, você será sempre bem vindo ao nosso site.
        </p>
        @*<p>
            Assine nosso feed e receba em seu e-mail nossas dicas e receitas grátis.
        </p>*@
    </div>
    <div class="large-2 medium-12 columns">
        <h3>Categorias</h3>
        <div>
            <a href="#" class="badge">Frango</a>
            <a class="badge">Picanha</a>
            <a class="badge">Assado</a>
            <a class="badge">Cozido</a>
            <a class="badge">Cordeiro</a>
            <a class="badge">Salada</a>
        </div>
    </div>
</div>
