<div class="row expanded align-center footer">
    <div class="large-10 small-centered columns">
        <p style="text-align:center;">
            Copyrights © @DateTime.Now.Year, Fabiana Soares, Gabriel Nascimento e Rafael Santos.
        </p>
    </div>
</div>
