<div class="row expanded align-center footer">
    <img class="footer_img" src="@Url.Content("~/Content/foundation/img/orage_large.jpg")" alt="Comida" />
    
</div>

<div class="row expanded align-center footer">
    <div class="large-10 small-centered columns">
        <p style="text-align:center;">
            Copyrights © @DateTime.Now.Year, Fabiana Soares, Gabriel Nascimento e Rafael Santos.
        </p>
    </div>
</div>
